section,
div,
p {
	font-family: 'Outfit', sans-serif;
}

h1 {
	font-family: 'EB Garamond', sans-serif;
}

nav {
	background-color: #fff;
}

.projects img {
	width: 100%;
}

.button-primary {
	border: 2px solid #000;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background: #000;
	transition: 0.2s ease-out;
}

.button-primary:hover {
	border: 2px solid #000;
	padding: 10px 20px;
	text-decoration: none;
	color: #000;
	background-color: transparent;
	transition: 0.2s ease-in;
}

.button-secondary {
	border: 2px solid #000;
	padding: 10px 20px;
	text-decoration: none;
	color: #000;
	transition: 0.2s ease-out;
}

.button-secondary:hover {
	border: 2px solid #000;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	background: #000;
	transition: 0.2s ease-in;
}

.nav-item a {
	text-decoration: underline;
}
